.my-card {
   /*  display: flex !important;
    flex-direction: column !important; */
    /* background-color: #95dada !important;
    border: 1px solid grey !important;
    border-radius: 5px !important; */
   

    width:250px !important;
    min-height: 350px !important;    
    display: flex !important;   
    flex-flow:row wrap !important;

    cursor: pointer !important;
    -moz-osx-font-smoothing: grayscale !important;
    backface-visibility: hidden !important;
    transform: translateZ(0) !important;
    transition: transform 0.25s ease-out !important;
    padding-bottom: 33px !important;   
  }    

  .my-card :hover {
    transform: scale(1.03) !important;
  }
  